*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ffffff;
    color: #111;
}


/* navegador */ 

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

.logo{
    justify-content: left;
    font-size: 28px;
    font-weight: 700;
}

.menu{
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu a{
    text-decoration: none;
    color: #444;
    font-size: 16px;
    font-weight: 500;
}

.contact-btn{
    padding: 12px 20px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background: #fff;
}

.contact-btn:hover{
    background: #9299ff;
    color: #fff;
}

/* producto */ 

.product-area{
    border: 2px solid black;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}

.green-tag{
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    margin: 15px;
    z-index: 10;
}

.product-img{
    display: flex;
    position: relative;
    width: 600px;
}

#img-product{
    border: 2px solid grey;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.arrow {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 85%;
    background: lightblue;
    opacity: 75%;
    color: grey;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-decoration: none;
    z-index: 20;
    margin: 15px;
}

.prev { left: 5px; }
.next { right: 5px; }

.arrow:hover {
    background: white;
}

.carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;            
    object-fit: contain;
    display: flex;
}

#red-tag{
    color: red;
}

#product-buy{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.product-price{
    align-items: center;
}

#price{
    font-size: 45px;
}

#buy-btn, #send-btn{
    background: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

#buy-btn:hover, #send-btn:hover{
    background-color: lightblue;
    color: black;
}

#gift-btn{
    background: lightblue;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

#gift-btn:hover{
    background: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.icons{
    margin-right: 20px;
}

.accesories-area {
    gap:20px;
}

.grid-cards{
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid lightcyan;
    height: 350px;
    width: 200px;
    padding: 15px;
    border-radius: 12px;
    margin: 10px;
}

#img-cards {
    height: 160px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.acc-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;           
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.read-more{
    margin-top: auto; 
}

.raffle-area{
    display: flex;
    background-color: lightblue;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 50px;
}

#raffle-text{
    padding: 20px;
}

#raffle-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}

#raffle-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.footer{
    background-color: black;
}