.footer{
    background-color: black;
}

.product-area{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}

#green-tag{
    position: absolute;
    background-color: green;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    margin: 15px;
    z-index: 10;
}

.product-img{
    height: 300px;
    border: 2px solid grey;
    display: flex;
}

#img-product{
    height: 250px;
    border: solid 2px green;
}


#red-tag{
    color: red;
}

#product-buy{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

#product-img{
    height: 250px;
    border: 2px solid grey;
    display: flex;
    /*justify-content: center;*/
}

#price{
    font-size: 45px;
}

#buy-btn{
    background: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}